.float__left {
  float: left; }

.float__right {
  float: right; }

* {
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  .container .row {
    margin: 0 5px; }
    .container .row:before, .container .row:after {
      content: "";
      display: block;
      clear: both; }
    .container .row [class*="col-"] {
      float: left;
      min-height: 1px;
      width: 100%;
      padding: 0 5px;
      margin-right: 2%;
      margin-bottom: 2%; }
      .container .row [class*="col-"]:last-child {
        margin-right: 0%; }
    @media only screen and (min-width: 40.5em) {
      .container .row .col-1 {
        width: 6.5%; } }
    @media only screen and (min-width: 40.5em) {
      .container .row .col-2 {
        width: 15%; } }
    @media only screen and (min-width: 40.5em) {
      .container .row .col-3 {
        width: 23.5%; } }
    @media only screen and (min-width: 40.5em) {
      .container .row .col-4 {
        width: 32%; } }
    @media only screen and (min-width: 40.5em) {
      .container .row .col-5 {
        width: 40.5%; } }
    @media only screen and (min-width: 40.5em) {
      .container .row .col-6 {
        width: 49%; } }
    @media only screen and (min-width: 40.5em) {
      .container .row .col-7 {
        width: 57.5%; } }
    @media only screen and (min-width: 40.5em) {
      .container .row .col-8 {
        width: 66%; } }
    @media only screen and (min-width: 40.5em) {
      .container .row .col-9 {
        width: 74.5%; } }
    @media only screen and (min-width: 40.5em) {
      .container .row .col-10 {
        width: 83%; } }
    @media only screen and (min-width: 40.5em) {
      .container .row .col-11 {
        width: 91.5%; } }
    @media only screen and (min-width: 40.5em) {
      .container .row .col-12 {
        width: 100%; } }

.section__main-title {
  text-align: center; }
  .section__main-title p:first-child {
    font-size: 24px;
    font-family: "Kaushan Script", cursive;
    margin-top: 85px; }
  .section__main-title p:nth-child(2) {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    margin-bottom: 35px;
    font-weight: 700;
    text-transform: uppercase; }
  .section__main-title hr {
    width: 60px;
    height: 3px;
    background: #f38181;
    margin: 0 auto;
    margin-bottom: 40px; }

#section__header {
  background-image: url("../img/35.png");
  width: auto;
  margin: 0;
  height: 1000px;
  background-size: cover;
  background-position: center; }

.header__main-menu {
  display: none; }

nav.header__main-nav {
  color: #ffffff;
  height: 65px;
  font-family: "Montserrat", sans-serif; }
  nav.header__main-nav .header__main-nav__text {
    padding-top: 15px;
    display: flex;
    align-items: flex-end; }

.brand-name {
  flex-grow: 2;
  font-size: 25px;
  font-weight: 700; }

section.header__jumbotron {
  color: #ffffff;
  text-align: center; }
  section.header__jumbotron h1 {
    font-size: 35px;
    font-family: "Kaushan Script", cursive;
    text-transform: capitalize; }
  section.header__jumbotron p {
    font-family: "Montserrat", sans-serif;
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  section.header__jumbotron p:last-child {
    margin-top: -4%; }
  section.header__jumbotron hr {
    width: 60px;
    border: 2px solid #ffffff;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px; }

.header__jumbotron__button {
  border: solid 3px #ffffff;
  width: 160px;
  height: 40px;
  line-height: 35px;
  margin: 0 auto; }

div.header__jumbotron__articles {
  margin-top: 90px; }
  div.header__jumbotron__articles hr {
    width: 20%;
    margin: 0 auto; }
  div.header__jumbotron__articles div {
    margin: 0; }

@media only screen and (min-width: 28.75em) {
  div.header__jumbotron__articles hr {
    width: 25%; } }
@media only screen and (min-width: 40.5em) {
  div.header__jumbotron__articles hr {
    width: 40%; } }
@media only screen and (min-width: 1150px) {
  .brand-name {
    flex-grow: 2;
    font-size: 30px;
    font-weight: 700; }

  .header__main-menu {
    display: block; }
    .header__main-menu li {
      position: relative;
      width: 90px;
      margin-right: 20px;
      display: inline-block;
      list-style-type: none;
      text-align: center; }
      .header__main-menu li a {
        text-transform: uppercase;
        font-size: 14px;
        text-decoration: none;
        color: #ffffff; }
      .header__main-menu li a:hover {
        color: #fce38a; }
      .header__main-menu li a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: -10px;
        left: 0;
        background-color: #fce38a;
        visibility: hidden;
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s; }
      .header__main-menu li a:hover:before {
        border-bottom: 5px solid #fce38a;
        visibility: visible;
        transform: scaleX(1);
        -webkit-transform: scaleX(1); }
    .header__main-menu li:hover {
      opacity: 0.7;
      letter-spacing: 0.04rem;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      -moz-transition: all 1s ease; }

  section.header__jumbotron {
    margin-top: 165px; }
    section.header__jumbotron h1 {
      font-size: 72px; }
    section.header__jumbotron p {
      font-size: 150px; }

  div.header__jumbotron__articles hr {
    width: 100%; } }
.section__about-us {
  height: auto;
  display: inline-block; }

.section__about-us__maintext {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 104px;
  padding: 0 15%; }

.section__about-us__articles {
  height: 250px; }

#myBar {
  width: 1%;
  max-width: 100%;
  height: 3px;
  background: #f32b33; }

#progressBar {
  width: 100%;
  background: #EDEDED; }

.section__about-us__img-container {
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 15px; }
  .section__about-us__img-container:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 10px;
    left: -10px;
    z-index: 999;
    visibility: hidden;
    background: #e68280;
    /* Old Browsers */
    background: -moz-linear-gradient(top, #e68280 0%, rgba(234, 210, 131, 0.8) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #e68280), color-stop(100%, rgba(234, 210, 131, 0.8)));
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, #e68280 0%, rgba(234, 210, 131, 0.8) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e68280 0%, rgba(234, 210, 131, 0.8) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e68280 0%, rgba(234, 210, 131, 0.8) 100%);
    /* IE 10+ */
    background: linear-gradient(to bottom, #e68280 0%, rgba(234, 210, 131, 0.8) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e68280', endColorstr='#ead283', GradientType=0 );
    /* IE6-9 */
    -webkit-box-shadow: 10px 10px 0px 0px #95e1d3;
    -moz-box-shadow: 10px 10px 0px 0px #95e1d3;
    box-shadow: 10px 10px 0px 0px #95e1d3; }
  .section__about-us__img-container:hover:before {
    visibility: visible; }
  .section__about-us__img-container img[class] {
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative; }
  .section__about-us__img-container a {
    text-decoration: none;
    color: #ffffff; }
    .section__about-us__img-container a p {
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: calc(50% - 70px);
      z-index: 1000; }

@media only screen and (min-width: 1150px) {
  .section__about-us {
    height: 750px;
    display: block; } }
.facts {
  height: auto;
  background: #95e1d3; }

.facts__mainBox {
  height: 170px;
  display: block;
  border-bottom: 2px solid #ffffff; }
  .facts__mainBox h3, .facts__mainBox p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #ffffff; }
  .facts__mainBox h3 {
    padding-top: 20px;
    font-size: 72px;
    font-weight: 700; }
  .facts__mainBox p {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400; }

@media only screen and (min-width: 40.5em) {
  .facts {
    height: 270px; }

  .facts__mainBox {
    height: 270px;
    width: calc(100%/5);
    padding-top: 50px;
    float: left;
    border-bottom: none;
    border-right: 1px solid #ffffff; }
    .facts__mainBox:first-child {
      border-left: 1px solid #ffffff; } }
.service {
  height: 650px; }

.service__article__main-box {
  display: flex; }

.service__article__icon {
  width: 90px; }
  .service__article__icon img {
    display: block;
    margin: auto;
    width: 50%; }

.service__article__text p:first-child {
  margin-top: -4px;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase; }
.service__article__text p:nth-child(2) {
  padding-top: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #999999; }

.service__article__line {
  height: 3px;
  background: #e5e5e5;
  margin-top: 50px;
  margin-bottom: 40px; }

.feauture {
  height: 862px;
  background-image: url("../img/45.png");
  width: 100%;
  margin: 0;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: inline-block; }

.feauture__img img {
  display: block;
  margin: auto; }

@media only screen and (min-width: 1150px) {
  .feauture {
    display: block; } }

/*# sourceMappingURL=main.css.map */
