//header variables
$main-nav-height: 65px;
$menu-text-color: #ffffff;
$menu-hover-color: #fce38a;
$menu-font: 'Montserrat', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-kaushan: 'Kaushan Script', cursive;
$mobile-size: 28.75em;  //460px
$tablets-size: 40.5em;  //650px
$pc-size: 1150px;  //1150px
$test: 40.5em;
$menu-pc-height: 115px;
$menu-tablet-height: 80px;
$menu-mobile-height: 80px;
