//variables
//colors
$font-service_title-color: #333333;
$font-service_text-color: #999999;

// **** main settings

$main-nav-height: 65px;
$menu-text-color: #ffffff;
$menu-hover-color: #fce38a;

// *** font variables
$menu-font: 'Montserrat', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-kaushan: 'Kaushan Script', cursive;
$font-roboto: 'Roboto', sans-serif;

// *** view size variable
$mobile-size: 28.75em;  //460px
$tablets-size: 40.5em;  //650px
$pc-size: 1150px;  //1150px
$test: 40.5em;
$menu-pc-height: 115px;
$menu-tablet-height: 80px;
$menu-mobile-height: 80px;


//**** grid layout settings ****
$site-width: 1200px;
$column: 12;
$gutter: 5px;
$grid-spacing: 2%;
$tablet-up: "only screen and (min-width: #{$tablets-size})";
